[2014-08-26 20:48] lorensr opened #2 "Add loginOrLinkWith"
Feature Request: If a user is given a number of login service options, and doesn't remember which they used before, and they use a wrong one that has the same email, it would be nice if the accounts were linked.

[2014-08-26 23:37] lorensr opened #3 "Add server-side callback"
It would be useful to be able to do something like

[code]

Rather than what I'm currently doing, which is `Meteor.call`ing an `afterLinkUser` method from the `linkWithFacebook` success callback client-side. My current method takes time - a round-trip to the client - and may not happen if something goes wrong on the client end or to the connection between server and client.

[2014-09-09 22:22] dfischer opened #4 "Support for Meteor 0.9+?"
Is it being worked on?

[2014-10-15 04:36] #4 closed, assigned to nobody

[2014-11-05 21:20] jzellis opened #5 "Twitter is not defined"
Hi there,

Trying this with Meteor 1.0. When I try to use

`Meteor.linkWithTwitter();`

I get:

`2Uncaught ReferenceError: Twitter is not defined` in `twitter.js` on line 15, which is:

`Twitter.requestCredential(options, credentialRequestCompleteCallback);`

I figure something changed in Meteor 1.0 that made this happen, but I couldn't figure out where in their source code to look to see why `Twi

[2014-11-05 23:05] #5 closed, assigned to nobody

[2014-11-10 18:23] jbrunners opened #6 "Any dependency required"
Hey,

I can't make it work, with a 'Facebook is not defined' error.
Not sure I properly installed the necessary package though.
I currently have accounts-ui, accounts-facebook installed

What package should I install/remove to make it work with Facebook ?
Sorry to bother you but it's not clear to me...

[2014-11-11 21:06] #6 closed, assigned to nobody

[2014-11-13 07:12] sasikanth513 opened #7 "linkedIn support?"
as in the title are you planning for linkedin?

[2014-11-17 22:29] tigransloyan opened #8 "getting an error "Google not defined" after upgrading"
After upgrading to the latest version of the package getting "Google not defined" error when clicking the connect button to launch the consent dialog. The error is thrown here

https://github.com/yubozhao/meteor-link-accounts/blob/master/google.js#L17

[2014-11-19 04:07] #8 closed, assigned to nobody

[2014-12-18 16:07] ChrisJGayle opened #10 ""duplicate key error index:""
In the event that a user;
1. uses Facebook to create an account automatically
2. logs out
3. creates a new account manually
4. attempts to link the account in #3 with the same Facebook user used to create an account in #1

- produces a "Exception while invoking method 'login' MongoError: E11000 duplicate key error index:" error, any suggestions/solutions?

[2015-01-08 00:54] yubozhao commented on #7
hi @meenie

Thank you for the linkedin package.  I will work on it for the next release

[2015-01-08 00:56] yubozhao commented on #10
hi @ChrisJGayle did you solve this issue??

[2015-02-10 16:52] bianchimro opened #11 "unlink accounts"
It would be nice to have an API to remove linked accounts from the meteor db,
something like:

    Meteor.unlinkFacebook()
    Meteor.unlinkTwitter()

etc.

[2015-02-10 19:35] yubozhao commented on #11
yeah. that sounds like a good feature to have.

I left it out initially because all of the complexity could be involved. it might be up to application developer to decided what impact it could has on their app.

[2015-02-10 19:36] yubozhao commented on #11
To remove it is pretty easy. But I don't know how big the impact it could has.

[2015-02-16 10:13] bianchimro commented on #11
I think it would be nice just to provide an API that developer can call in his app.
This will have an impact on current application state, but I'd leave it to the developer.
Probably safest thing thing to do after this kind of action would be logging out user and asking to login again, but it depends on how each application is structured.

[2015-02-17 09:18] CookPete commented on #2
I think what @lorensr is trying to explain is that a user cannot log in with an account they have linked. For example:

* Log in with Facebook
* Use `Meteor.linkWithTwitter` to link account to Twitter
* Log out
* Log in with Twitter

I think in an ideal world, it would log you in to your original linked up account. What actually happens, however, is a new account is created, with Twitter as the "b

[2015-02-17 19:50] yubozhao commented on #2
Hi @CookPete

This package is already designed that you could login with either accounts you linked/registered.   There is no concept of base account.

[2015-02-17 19:51] yubozhao commented on #11
@bianchimro

That sounds like something reasonable.  I will work on it for the next release

[2015-02-17 19:55] lorensr commented on #2
I meant that if you eg create an accounts-password account with email X and
later on try to login with Facebook instead, and your FB account also uses
email X, it would be good if you could merge the two accounts.

On Tuesday, February 17, 2015, Bozhao <notifications@github.com> wrote:

[2015-02-17 20:00] bianchimro commented on #11
sounds great,
thanks!

Il martedì 17 febbraio 2015, Bozhao <notifications@github.com> ha scritto:

--
Mauro Bianchi
bianchimro@gmail.com
www.inmagik.com

[2015-02-17 21:53] yubozhao commented on #10
@ChrisJGayle  Let me know if this is solved, I am going to close it for now

[2015-02-17 21:53] #10 closed

[2015-02-24 09:01] bianchimro opened #13 "runkeeper support?"
it would be nice to add runkeeper support,
for example using this package:

https://github.com/selaias/accounts-runkeeper/

[2015-02-24 17:38] yubozhao commented on #13
@bianchimro

I will check out that repo, if it is good and activily maintained.  I will make it into the next release

[2015-02-24 17:45] yubozhao commented on #2
@lorensr
Sorry I didn't see your comment until today.   The use case you mentioned would be pretty useful.   I don't want this package step oout its boundary, which is just link account to current user.    I want app developer has flexibility to choose.

But I will consider making an account extension package that is the end all solution for all account needs

[2015-02-24 20:11] lorensr commented on #2
I see, thanks!

On Tuesday, February 24, 2015, Bozhao <notifications@github.com> wrote:

[2015-03-13 17:23] Juaanma opened #14 "No error thrown when a social account is already in use"
The package does not return an error when we try to link a social account that has been already used in another user. Instead, we receive a server-side exception: "Exception while invoking method 'login' MongoError: E11000 duplicate key error index".
It would be great if a Meteor.error is returned, so that it can be displayed in the client side of the site.

[2015-03-13 20:56] yubozhao commented on #14
@Juaanma

Thank you for the bug, I will update it in the next release

[2015-04-14 08:00] dukye commented on #7
+1 would like to have this connector :)

Thx in advance
duke

[2015-04-16 05:38] lorensr commented on #2
The second smaller answer here on SO looks good:

http://stackoverflow.com/a/28015727/627729

[2015-04-16 05:44] lorensr commented on #2
Oh! I found a package for this:

https://github.com/splendido/meteor-accounts-meld

[2015-04-16 05:44] #2 closed

[2015-06-08 20:02] caio-ribeiro-pereira commented on #3
If you use `meteor-accounts-meld` (https://github.com/splendido/meteor-accounts-meld) you can use this callback which works very well:

[code]

[2015-06-08 20:08] caio-ribeiro-pereira opened #15 "how can I use accounts-facebook + cordova-fb for mobile purposes?"
Hi, I have an app 99folks.com which uses https://atmospherejs.com/particle4dev/cordova-fb to make facebook signin in cordova apps, I'd like to use the `link-accounts` to provide a screen to user remove or readd your facebook id, but I can't do it because the cordova-fb use as dependencies the `accounts-facebook` and the `link-accounts` (for facebook) don't work without `accounts-facebook` installe

[2015-06-08 20:57] caio-ribeiro-pereira commented on #7
+1 Me too!

[2015-06-24 16:01] redwraith2 opened #16 "Add onLink hook similar to Meteor's onLogin"
I use Meteor's onLogin to grab a list of Facebook and Instagram friends. I know it's not strictly necessary, but it would be a very nice feature to have a server-side onLink hook so I can make API calls this way.

[2015-07-21 16:32] lorensr commented on #15
I tried commenting out the error throwing in https://github.com/yubozhao/meteor-link-accounts/blob/6108a1d706e175ab1555981d52995272a39be5fd/facebook.js
but at least with pkg I'm using, `vicentealencar:cordova-fb`, a new account is created and logged in.

$100 bounty to whoever fixes this 🙏😄

[2015-07-27 00:40] lorensr commented on #15
Works with this package: https://github.com/splendido/meteor-accounts-meld

[2015-07-27 01:12] yubozhao commented on #15
Sorry for been away for a while.  @caio-ribeiro-pereira @lorensr

Ohhh, once Meteor 1.2 comes out, I will fix it during the building step.

[2015-07-27 01:20] yubozhao commented on #7
check out the new version.  Close it for now, if have question/issue, please open a new one

[2015-07-27 01:20] #7 closed

[2015-08-05 11:25] phinmpofu opened #18 "Additional account being created instead of being linked - any thoughts"
I'm attempting to use this package. The README file gave me an indication that it could suit my use case. I've implemented it, but rather than linking the accounts, it is creating additional accounts. Here is what my implementation looks like:

PACKAGES ADDED:
meteor add accounts-facebook
meteor add accounts-twitter
meteor add bozhao:link-accounts
meteor add service-configuration

    <template na

[2015-08-05 20:44] #18 closed

[2015-08-05 21:25] yubozhao commented on #18
@phinmpofu did you solve it?

[2015-09-04 13:54] zhaoyao91 commented on #11
+10086!!!
强势期待这个功能！！！

[2015-09-04 20:15] philcruz opened #20 "problem linking to GitHub"
My app allows login with Google, GitHub and Twitter. That works fine. I added this package to allow linking an existing account with other accounts. Google works fine. When I call

     Meteor.linkWithGithub();

I get

    Uncaught TypeError: Cannot read property 'redirectUrl' of undefinedGithub.requestCredential @     github_client.js:33

Is there some configuration required for GitHub? What coul

[2015-09-04 20:17] philcruz commented on #20
And I get the some error with Twitter.

[2015-09-04 21:28] philcruz commented on #20
This did the trick

    Meteor.linkWithGithub({"redirectUrl": "http://localhost:3000"});

Would be good to document that.

[2015-09-07 02:17] yubozhao commented on #11
078e3709c3c3010a357a0b960a4139e3b0ed0fcd   Let me know how this commit goes

[2015-09-07 02:21] yubozhao commented on #20
hi @philcruz   I will document this.  sorry about it

[2015-09-07 02:21] #20 closed

[2015-10-01 05:36] achtan opened #22 "Propagate server error to client"
hi, on server i got message `Exception while invoking method 'login' MongoError: E11000 duplicate key error index: meteor.users.$services.twitter.id_1  dup key: { : "3822176249" }` BUT in client i see only `"Internal server error [500]"` so i can't tell user that his twitter account is already connected to other user account...

can you pls propagate mongo server error to the client?

[2015-10-05 05:24] jfraboni commented on #11
Hi, what's the API for unlinking an account?

[2015-10-05 16:22] yubozhao commented on #22
@achtan I see your issue.   Right now I am piggyback on Meteor's existing account system... I am not too sure it is possible without study the code, I will work on this and find a good solution.

I know this issue would be important.

[2015-10-05 16:23] yubozhao commented on #16
Hey @davidjaenisch Sorry to reply your issue so late.  I will see what I can do with this and hopefully, will get it into the next release.  Thank you for the suggestions

[2015-10-05 16:56] yubozhao commented on #11
@jfraboni
You can check out this commit.

You can either call Accounts.unlinkService  or a meteor method '_accounts/unlink/service'

[2015-10-05 16:56] #11 closed

[2015-10-05 16:57] yubozhao commented on #15
This has update in package version 1.1.7.  Going to close this for now, and if any issue feel free to reopen it.

[2015-10-05 16:57] #15 closed

[2015-10-06 07:09] achtan commented on #22
Or you can chceck if new account is already in DB before you try to merge it. And if it is, you will throw your own exception or so...

[2015-10-06 15:06] acemtp commented on #22
Okay, I have the same error (I use your lib since months without issue). It's clearly a problem related to the meteor 1.2.

`{ : "3822176249" }` the key is empty, but should be `id`.

really strange and completely blocking for me. If you have an idea, i'll be happy

[2015-10-06 15:33] yubozhao commented on #22
@acemtp I will check it out later on today.

[2015-10-06 15:41] acemtp commented on #22
ok i found that the problem of duplicate is because the twitter id is already used by another account.

I'm almost sure that there a really strange bug that occurs randomly that link a twitter account to the bad meteor user account.

[2015-10-06 15:52] yubozhao commented on #22
check out ef05988c5fcbc737f16580b8eb015f284272d51f

[2015-10-06 15:52] yubozhao commented on #14
check out ef05988c5fcbc737f16580b8eb015f284272d51f

[2015-10-06 16:01] acemtp commented on #22
Thanks @yubozhao for the quick fix, at least the error will be easier to understand :)

[2015-10-06 16:03] yubozhao commented on #22
Cool. Going to close the issue now. Feel free to reopen it.

[2015-10-06 16:04] #22 closed

[2015-10-06 16:04] yubozhao commented on #14
Going to close the issue now. Feel free to reopen it.

[2015-10-06 16:04] #14 closed

[2015-10-12 00:31] flean opened #24 "Facebook link stopped working"
I have
[code]
[code]

[2015-10-12 04:33] yubozhao commented on #24
thanks for reporting

[2015-10-12 04:44] yubozhao commented on #24
@flean fixed at b01768dd30c3ae8d9fe0051e9ef0a9c7081c9cf2 package version 1.1.13. Let me know did it work or not

[2015-10-12 04:44] #24 closed

[2015-10-12 05:15] flean commented on #24
[code]

[2015-10-12 05:16] yubozhao commented on #24
Oops, good call!  too tired now to do testing.  going to patch it very quick

[2015-10-12 05:17] flean commented on #24
Lol

[2015-10-12 05:19] yubozhao commented on #24
published.

[2015-10-12 05:20] flean commented on #24
Looks good, thanks

[2015-10-23 02:15] zhaoyao91 opened #25 "How to forbid user to create account when login with 3rd party services?"
Thanks, with this great package, we can link services with existing accounts easily.
But, the user may also login with a not-linked service, which cause creating new account, which is not expected.
What's the good enough way to handle this situation?

[2015-11-07 19:48] evilandfox opened #26 ""LinkedIn is not defined" error when calling Meteor.loginWithLinkedin"
Hi.
Maybe that is my failure.
`jonperl:accounts-linkedin` package is installed.

[2015-11-08 07:34] yubozhao commented on #26
Ok. I am on a vacation. Going to check out it once I get back(next week ish)

[2015-11-09 21:53] evilandfox commented on #26
ok, thanks)

[2015-11-09 21:54] yubozhao commented on #26
Going to keep it open until I fix this bug. ;)

[2015-11-09 21:55] evilandfox commented on #26
Sorry, I clicked on "Close this comment" )) I am beginner on GitHub ))

[2015-11-09 21:56] yubozhao commented on #26
No worries. :)

[2015-11-20 03:52] dburles opened #27 "Security issue with _accounts/unlink/service method"
Hey @yubozhao there's a security issue surrounding this method https://github.com/yubozhao/meteor-link-accounts/blob/master/link_accounts_server.js#L100-L105 as it makes it possible for anyone to unlink a service of any user.

[2015-11-20 03:54] dburles commented on #27
This function also calls the method with the arguments in the wrong order: https://github.com/yubozhao/meteor-link-accounts/blob/master/link_accounts_client.js#L30-L33 (also this line is redundant https://github.com/yubozhao/meteor-link-accounts/blob/master/link_accounts_client.js#L31)

[2015-11-20 03:54] dburles commented on #27
Just one other question (not related), I think it might make sense to remove the `id` field from the service data as that will then allow the same service to be linked to multiple user accounts. Thanks :)

[2015-11-20 05:46] yubozhao commented on #27
@dburles Thanks man!  Going to check them out and will fix them.  I felt pretty excited about you using this! Have been following you for a while...

[2015-11-20 05:53] yubozhao commented on #27
@dburles on the second question.  I thought about that at beginning of this package. I don't want to make it too complicated. Also, I think that use case requires a lot of special care.  It might be too much for this package.

Now you mentioned it, I might try to figure out how to put that into here, if that is the right choice.

[2015-11-20 06:09] dburles commented on #27
Cool! no problem! Yeah you're right, it's tricky – I'll have a think about it a bit more though I think what you have is a reasonable default (your comment on making it configurable may be an idea).

Removing the ID allows any number of accounts to link to the same service, but the tradeoff is that you cannot sign in using that service. In the meantime I've [forked the package here](https://github

[2015-11-20 23:20] trevorbass opened #28 "Error handling issue"
To allow interpretation on the client, errors on the server should be thrown using "throw new Meteor.Error(...)" rather than "throw new Error(...)".

With errors currently thrown using "throw new Error(...)", the following client-side call will result in a generic internal server error, no matter what the error is:
    Meteor.linkWithTwitter( function(error) {
      console.log(error)
    });

I'd

[2015-11-23 04:26] yubozhao commented on #28
Hey @trevorbass
thank you for the support!

I will update the error code and tight things up in the next release

[2015-11-23 04:31] yubozhao commented on #26
@evilandfox Sorry for the late update, but it is solved in 1.1.15 version, let me know if there is any issue.

[2015-11-23 04:31] #26 closed

[2015-11-23 04:32] yubozhao commented on #27
@dburles Just pushed fix for the issue, it turns out, I left testing code in there.  :(

Still thinking about how to handle multiply accounts for same services....

[2015-11-23 04:33] yubozhao commented on #25
hey @zhaoyao91 I am not fully understand the problem, could you explain a little bit more?

Thank you for your support!

[2015-11-23 04:43] zhaoyao91 commented on #25
By the time I post this question, the situation is: user can link an account with a service, and then, login with the service. But if the service is not linked with any account,  the action of 'login with service' will create an account without email, username or even password, which is not expected.

So I want a solution to allow the user to login with a linked service, but forbid them to create

[2015-11-23 04:56] yubozhao commented on #25
What version of this package are you using?

As of now, I let the application developer decided what to do with that.   As you can see here  https://github.com/yubozhao/meteor-link-accounts/blob/master/core-services/meetup.js#L5

I would suggest to do a check for user before hand, also this could be easily handled by UI.

[2015-11-24 02:01] evilandfox commented on #26
Thanks, great :+1:

[2015-12-02 21:28] aberios opened #30 "Multple users being created"
I followed the example exactly using a brand new project and METEOR@1.2.1, and it appears if I first create an account using accounts-password and then try to link with accounts-github, a second user is created, and I am logged in with that user.  db.users.count() in mongo initially returns 1 user and then returns 2 users after I link with github.

It seems to work when using METEOR@1.1.0.2

[2015-12-03 11:30] VioletaCalvo commented on #28
+1
Thank you for your package!

[2015-12-13 11:06] zhaoyao91 opened #32 "How about supporting weixin, qq, baidu ... and more China services?"

[2015-12-15 07:57] zhaoyao91 opened #33 "error when link with a service account which is already linked with other user"
if an service accounts is already linked with some other user, call linkWith <service> will cause 500 error,which is bad because client can't handle it well.

could you fix this, or, even better, offer some way to config the strategies of allow/disallow link/unlink with service?

[2015-12-15 08:25] zhaoyao91 opened #34 "error when calling Accounts.unlinkService on server side"
I20151215-16:21:57.675(8)? Exception while invoking method 'AccountsEx.methods.unlinkService' ReferenceError: Mongo is not defined
I20151215-16:21:57.675(8)?     at AccountsServer.Accounts.unlinkService (packages/bozhao_link-accounts/link_accounts_server.js:78:1)
I20151215-16:21:57.675(8)?     at [object Object].methods.unlinkService.ValidatedMethod.run (packages/accounts-ex/server/methods.js:467:

[2015-12-17 01:46] zhaoyao91 commented on #33
this is a compatibility problem with beta version of meteor 1.3

[2015-12-17 01:47] zhaoyao91 commented on #34
this is a compatibility problem with meteor 1.3 beta.

[2015-12-17 03:54] yubozhao commented on #34
ok, I will look into it.

[2015-12-17 03:54] yubozhao commented on #34
did you add mongo package??

[2015-12-17 03:57] yubozhao commented on #33
Package was not designed to have a config to allow/disallow link/unlink with existing service account.

I think you could put into try / catch to solve this issue and display error on the client side.

I will look into it this week, since it is going to be holiday soon.

[2015-12-17 03:58] yubozhao commented on #32
If you have existing accounts login package for those services. I would gladly to add them into this package.

But I probably dont have enough free time to develop account package for them then add them myself

[2015-12-17 04:00] yubozhao commented on #30
hey @aberios I might need more info or reproducible code to see whats happening.

I tried with example code and It is working

[2015-12-17 04:06] yubozhao commented on #28
1.17 now servers meteor error, let me know how did it works for you guys

[2015-12-17 04:06] #28 closed

[2015-12-17 04:07] yubozhao commented on #33
It is now fixed in 1.17.  It will throw Meteor error, you should able to handle that.

[2015-12-17 04:07] #33 closed

[2015-12-17 13:19] zhaoyao91 commented on #34
no, I didn't add mongo in my app, but I think a package should take care of its own dependencies. no problem, meteor 1.3 is not stable yet, this may be fixed in the future.

[2015-12-17 13:21] zhaoyao91 commented on #33
thanks.

[2015-12-17 21:32] edemaine commented on #27
The testing code (Meteor method `_accounts/unlink/service`) you removed, or something similar, needs to be put in the sample application, for the sample application to support unlinking...

[2015-12-17 23:04] yubozhao commented on #34
@zhaoyao91 You need add mongo  for your project, as of 1.2 Meteor does not include mongo automatically.  This actually break core package as well.

[2015-12-18 01:21] zhaoyao91 commented on #34
thanks, I will be careful about this.

[2015-12-24 02:21] #34 closed

[2015-12-24 02:22] yubozhao commented on #30
any update on this @aberios ?  If not, I will close this issue until you runs into it again.

[2015-12-24 02:22] #30 closed

[2015-12-27 23:02] yubozhao commented on #32
Add support for qq and wechat thanks to @leonzhang1109

[2015-12-27 23:02] #32 closed

[2015-12-27 23:02] yubozhao commented on #27
@edemaine sorry for the delay....but it is fixed in the 1.2 version

[2015-12-27 23:02] #25 closed

[2015-12-27 23:03] yubozhao commented on #25
let me know if you run into this, i will open this issue again

[2015-12-28 00:20] JohanTh opened #37 "LinkedIn is not defined"
Getting the following error when trying to sign in with LinkedIn:

packages:

js:

[code]

Have I missed anything? Would `bozhao:link-accounts` need an `api.use()` to get access to the exported vars such as `LinkedIn` from `jonperl:linkedin` or make use of `Package[]`?

To evade this error I did this on the client:

[code]

[2015-12-28 04:22] zhaoyao91 commented on #32
great, thanks @yubozhao , @leonzhang1109

[2015-12-29 00:28] MichaelJCole commented on #27
@yubozhao I see the code in the repo changed, but it doesn't look like the [atmosphere package](https://atmospherejs.com/bozhao/link-accounts) was updated

[2015-12-29 01:00] yubozhao commented on #27
@MichaelJCole solved  thanks for the heads up

[2016-02-05 13:34] sadiklsd opened #43 "Spotify not linking"
in chrome console:
Uncaught Error: Please include xinranxiao:meteor-spotify package [403]

on terminal:
meteor add  xinranxiao:meteor-spotify
 => Errors while parsing arguments:
While adding package xinranxiao:meteor-spotify:
error: no such package

However if you change in community-services/spotify.js
the line
    if (!Package['xinranxiao:meteor-spotify'] || !Package['xinranxiao:accounts-spotify

[2016-03-01 19:11] Dielz98 opened #47 "Request: Please add wordpress.com"
Thanks

[2016-03-05 15:52] MeKarina commented on #37
i could confirm i had the same issue and solution from @JohanTh works for me as well...

thank You..

[2016-03-09 02:31] chemuto opened #48 "linkWithInstagram asks to install wechat package"
I believe there is a bug in this file: https://github.com/yubozhao/meteor-link-accounts/blob/9b120954af79280a3cd7658d0e850ad90a53c8b8/community-services/wechat.js

I am trying to use linkWithInstagram and it keeps asking to install leonzhang1109:accounts-wechat package

Thanks

[2016-03-24 17:18] yubozhao commented on #48
oh yeah, oops. will change it now

[2016-03-24 17:25] yubozhao commented on #48
@chemuto please update to 1.2.8 to get the fixed version.

[2016-03-24 17:25] #48 closed

[2016-03-24 17:41] yubozhao commented on #43
Ok, will do

[2016-03-24 17:42] yubozhao commented on #43
done

[2016-03-24 17:42] #43 closed

[2016-03-31 01:32] ipstas opened #49 "If the the same service is already linked to another user, linking dies silently"
If the same account (same username from twitter) linked to another user, there is no error in server console or client.

The only evidence I have in kadira from Error: [This social account is already in use by other user]
    at packages/bozhao_link-accounts/link_accounts_server.js:56:1

And since the popup window is closed momentarily, user believes account should be linked, but it is not happeni

[2016-04-04 05:55] yubozhao commented on #49
I will throw an error out in the next version, you will have to catch it on the server side

[2016-04-04 05:56] #27 closed

[2016-04-05 06:56] hashcutdev opened #50 "linkWithfacebook creating new user"
Hello,

I currently require users to create an email/password based account, and then link their twitter, google, and facebook accounts if they wish. Currently, linkWithTwitter and linkWithGoogle work fine, automatically linking those accounts when called. However, when linkWithFacebook is called, it creates a separate user account instead of linking it with the currently logged-in user. No error

[2016-04-07 15:00] hashcutdev commented on #50
I've figured it out. It appears to be an issue with the facebook package. Basically, if the facebook loginStyle is set as redirect, it will create a new user and login that user, which is not what we want to do. On the other hand, setting the loginStyle to popup allows the linkWithFacebook function to work properly.

Sorry for the false alarm :-)

[2016-04-07 15:00] #50 closed

[2016-04-14 23:27] dfischer opened #51 "Using this with Meteor 1.3?"
Seems like it doesn't have access to other libraries so it blows up...

`Uncaught ReferenceError: Slack is not defined`

----

Going to try a PR...

----

Tried to do something like this

[code]

But import is an unexpected token within a package... damn.

[2016-04-15 20:08] acomito opened #52 "Possible to store key on document other than Meter.user?"
I have a collection of organizations. I'd like to allow them to connect their facebook/twitter/etc. pages. Can I leverage this or should I be looking elsewhere?

[2016-04-28 01:59] shacks commented on #51
Any updates bud?

[2016-04-28 02:41] shacks commented on #52
This is possibly not the best solution, but you could create a cron job to export data from one collection the another.

[2016-04-28 22:30] dfischer commented on #51
Yeah, I forked acemtp:accounts-slack and added api.export('Slack') to the package.js - I did some other tweaks as well to return more data in the profile object so you may not want to use my fork.

`https://github.com/dfischer/meteor-accounts-slack/` `meteor add dfischer:accounts-slack`

[2016-04-29 00:50] shacks commented on #51
Thank You, That works like a charm !!!

[2016-05-06 15:47] ttacon commented on #49
There are certain situations in which we may want to allow multiple users to link with the same social account (i.e. multiple users posting from the same twitter account). What is your feeling about allowing this behaviour? Perhaps one could provide a whitelist of services for which this is allowed (thus ensuring we only allow this "double-linking" behaviour for accounts we expect it to occur on)?

[2016-05-06 15:59] yubozhao commented on #49
@ttacon. Yep. There is that case as well.  Link different accounts from same service to meteor is not hard. But I have to make sure the login will works correctly.

As of now, we get a free login with different services.

I.e. (Twitter A, Facebook A) can both login to same account.

(Twitter A, Twitter B, Facebook A) Both Twitter account would have issue now.

Let me know what you think.
(Typing t

[2016-05-06 16:15] ttacon commented on #49
Haha, no worries! I entirely agree, so what about the following:

1) We can provide a whitelist of services that know that they can allow linking multiple users to the same info.

2) Otherwise emit a more specific error message on a duplicate linking attempt.

Thoughts?

[2016-05-06 16:18] yubozhao commented on #49
I think those are good ideas.

Let me sink in idea 1 for a bit. Since right now. This is almost "invisible" package in the sense of application developer doesn't have to config anything.

As far as number 2. I will work on it this weekend.

[2016-05-12 02:00] nishikawa7863 opened #53 "Accounts-Stripe Support"
Hi, are there any plans to support any accounts-stripe repo?
Thanks

[2016-05-12 02:07] yubozhao commented on #53
Yep. If we have another package for stripe I will included it.

[2016-05-22 01:26] robskrob opened #54 "How do I configure, Meteor.linkWithFacebook, to request more data (friends list) from a user's facebook account?"
Meteor.linkWithFacebook, will only prompt the user to provide his/her standard/required info and email. I would like to give the use the option to provide my app access to the user's friend's list. I've tried passing arguments to the method, Meteor.linkWithFacebook(['user_friends', 'user_location', 'user_events', 'friends_events', 'friends_location', 'friends_about_me', 'user_status', 'friends_sta

[2016-06-02 21:57] joseconstela commented on #20
where are the docs?

[2016-06-09 04:38] kafechew commented on #54
@robskrob I'm looking a solution for this too. Did you solve this extra Facebook permissions issue?

[2016-06-14 18:07] yubozhao commented on #54
let me triage it and get back to you guys

[2016-06-21 02:35] robskrob commented on #54
@kafechew the following worked for me:
`Meteor.linkWithFacebook({requestPermissions: ['user_friends', 'email']}, (err, resp)=> {...`

[2016-06-25 06:06] abhaytalreja opened #56 "Link user to the multiple accounts from same services like multiple twitter/instagram accounts"
I know you mentioned it in the readme, that this feature is not currently supported, just wanted to open an enhancement task for future.

[2016-06-28 11:33] kafechew commented on #54
@robskrob Thanks~ Best solution! :-)

[2016-07-01 04:48] adamwan92 commented on #49
Is the error being implemented? Would be quite helpful so we can just render a popup that says "This app has already been linked with another account". Otherwise it causes a bit of confusion

[2016-07-01 21:08] yubozhao commented on #49
@adamwan92 I haven't have enough free time to work on it, will try to get it done over July 4th.

[2016-07-19 07:10] shadowzick opened #57 "FB Permission issues"
Hello, I'm trying to add these specific permissions

`[
    "public_profile",
    "user_friends",
        "email",
        "user_about_me",
        "user_actions.books",
        "user_actions.fitness",
        "user_actions.music",
        "user_actions.news",
        "user_actions.video",
        "user_birthday",
        "user_education_history",
        "user_events",
        "user_games_activit

[2016-08-01 20:47] MichaelJCole commented on #56
https://github.com/yubozhao/meteor-link-accounts/blob/5ece9b9051929e1dc43befa1c406e1201843d154/link_accounts_server.js#L56

[2016-09-19 06:47] delgermurun commented on #37
Add only `jonperl:linkedin` package directly, not `jonperl:accounts-linkedin`.

[2016-09-22 15:03] adamwan92 commented on #49
For those who are facing the same problem, I found a quick fix.

[code]

So after the Meteor.linkWithGoogle call is completed, it'll check if the user is linked with Google by checking if Meteor.user().services.google exists.

[2016-09-26 16:54] yubozhao commented on #51
Thanks @dfischer WIll close this for now

[2016-09-26 16:54] #51 closed

[2016-10-31 21:34] Sntax commented on #15
I am still a little unclear on how to approach this, how exactly do you link accounts on cordova and web without running into duplicate service errors?

[2016-11-13 19:11] zhaoyao91 opened #58 "Redirect style will create new user"
it's fine to link account in popup style, but wechat-mp require to use redirect style, which is a limit of the wechat. could you please support link account with redirect style?

[2016-11-13 19:15] larrxu opened #59 "Support for 'redirect' login style"
Packages used:
[code]

Wechat-MP (公众号) uses 'redirect' login style. When linking, it always creates a new account instead of linking to the existing user. Any thoughts?

Here is how I call link:
[code]

[2017-01-02 13:26] JefferyHus opened #60 "Before mergin callback"
Hi, the issue is that when the user logs in with gmail for example then logs out, the next time he will pick another service like facebook but this time he will try and merge google account with the current logged in, there will be an error as an already account exists with the same service id, so if possible to add a hook just before the merging process that will receive as params (oldId, newId)

[2017-03-16 21:30] michaelcbrook opened #63 "Can't use accounts-facebook and facebook package together"
When trying to call Meteor.linkWithFacebook, I get an uncaught error saying

But including both the accounts-facebook and facebook packages results in a crash of the Meteor app, with Meteor saying

at Object.OAuth.registerService (packages/oauth.js:65:11)
at packages/facebook-oauth.js:49:7
at packages/facebook-oauth.js:125:4
at packages/facebook-oauth.js:137:3

Maybe this line in `bozhao_link-acco

[2017-03-23 12:31] rednax1994 opened #64 "Cannot read property of 'GitHub' of undefined"
When I install the package and start using it, I get: Uncaught TypeError: Cannot read property 'Github' of undefined. I'm not sure where this could be going wrong.

[2017-03-27 15:35] ZubMono commented on #63
I'm having the same issue, cannot link to Facebook and Google. Unlink is working btw,

[2017-03-28 14:25] danielparas commented on #63
Encountering this issue also

[2017-04-01 09:11] yinnovationlab commented on #64
Similar problem "Cannot read property 'Google' of undefined". My code was working when I checked last time.

[2017-04-13 14:17] vladgolubev commented on #64
@yinnovationlab good news, version `1.2.10` fixes this

[2017-04-13 18:53] #64 closed

[2017-05-02 17:30] darkbasic opened #66 "Is it compatible with okland/accounts-phone?"
My app is going to use whatsapp-style authentication (okland/accounts-phone) and Facebook authentication (accounts-facebook). Is it possible to link both with meteor-link-accounts?

[2017-05-08 19:53] ingleo commented on #63
This error appears because you're trying to use two different versions, the "facebook" package was deprecated and replaced with "accounts-facebook", it has a dependant package that is "facebook-oauth" (this one create the conflict ), according to the meteor version that you're using, is necesary to remove "facebook" package, in this way, the file oauth.js is generated by the "facebook-oauth" packa

[2017-05-08 21:29] ingleo commented on #63
There are a conflict in the source code in this part too, between the package "btafel:accounts-facebook-cordova" and "accounts-facebook", every one register the "facebook" service, here:

[code]

[2017-05-10 23:57] harveysanders commented on #64
I still had this problem in `1.2.1` for Meteor `1.4.4.2` I believe it's due to Meteor using the `github-oauth` package instead of `github`, similiar to this issue: https://github.com/percolatestudio/meteor-google-api/issues/40#issuecomment-280662638

I've fixed In my project by referencing the new package. I'll put in a PR if you'd like to check it out, but I haven't checked for older Meteor versi

[2017-05-27 16:37] joncursi opened #69 "React Native support via meteor-apollo-accounts"
Would be great if this worked in non-browser environments such as React Native. But unfortunately, it has a client side that must use the `Meteor` export, which is not available in React Native projects.

I'm using Apollo in my react native app via https://github.com/orionsoft/meteor-apollo-accounts - it would be great if these two projects teamed up to add a `linkedWith` method!

[2017-06-02 18:33] elmarti commented on #64
I had this issue, got round it by running ```meteor add github```

[2017-06-02 19:27] elmarti commented on #64
Not sure why this was closed, but I've got it to work by importing Github via es6 instead of using `Package.github.Github`. I can create a PR with refactors for all of the services and I plan to add Bitbucket and Gitlab if those are of interest

[2017-06-30 17:19] elmarti opened #70 "Potential Maintainer"
Hi, I'm currently working on a project using numerous oauth integrations and would like to be the maintainer.

[2017-08-04 03:18] yubozhao commented on #70
Awesome!!

I am adding you now

[2017-08-04 22:54] elmarti commented on #70
Great, thanks. I'll create a branch with the stuff I've been working on over the past few weeks.

[2017-08-04 22:54] #70 closed

[2017-08-22 06:18] kieckhafer commented on #16
Very late to the party here... was this ever added?

[2018-04-02 08:58] gimco opened #74 "Javascript Error on iOS 9"
I have experimented javascript errors on devices with iOS 9.3 in Safari and Google Chrome. The error occurs on the first load of the app and let the app fully blank and in a state unusable. Debugging remotely the device I have seen the next error:

`SyntaxError: Unexpected token '>'(anonymous function) @ bozhao_link-accounts.js:223`

Checking the code the error is due to use arrow functions in the

[2018-06-07 21:08] #74 closed

[2018-06-08 15:53] StorytellerCZ commented on #57
Also quiet a few of them have been recently removed or renamed. Many require app review from Facebook. Also Meteor is only going to retrieve details limited to the user, any additional stuff depends on your own code.

[2018-06-08 16:42] StorytellerCZ commented on #66
`accounts-facebook` is included in this packages. `okland:accounts-phone` is not, but unless there is a major difference on how `okland:accounts-phone` manages authentication it should be simple to add it (just ask the creators or follow example from other services).

[2018-06-08 16:44] StorytellerCZ commented on #63
Is this still an issue? Looking at the code it looks like it should be fixed now.

[2018-06-08 16:54] StorytellerCZ commented on #60
The user creates account1 which is linked to FB. Then logs out and creates account2 which is created via Google. Now the user wants to link account2 to their FB account as well, but that link has already been made to account1, so they can't.
Did I get that rights?

The easiest solution is for the user to unlink FB from account1 and then link it again at account2.

I think it might be easier to fig

[2018-06-08 16:56] StorytellerCZ commented on #59
Duplicate of #58

[2018-06-08 16:57] StorytellerCZ commented on #47
What is the accounts package?

[2018-06-08 16:58] StorytellerCZ commented on #60
Isn't this similar to #49 ?

[2018-06-08 17:02] StorytellerCZ commented on #13
Doesn't seem to maintained any longer.

[2018-06-09 00:10] JefferyHus commented on #60
this has been 2 years, why github says 2017 ? :'( It started to collapse (joke).  And yes this question was about linking accounts after login out and trying to log in using another social network.

[2018-08-09 11:20] Nazarah opened #78 "Need detailed documentation about how to use this package in an Meteor Application"
Hi,

I have an app made with meteor running and I have meteor's account-password package to create user accounts on it.
Now I want to add other social medium platforms (especially GitHub) to access the same account in the App.
I came across to your package.
Unfortunately, the documentation is not detailed enough for me to understand how to incorporate your package into the meteor app and start usi

[2018-12-03 20:03] #78 closed

[2018-12-03 20:03] #66 closed

[2018-12-03 20:04] #53 closed

[2018-12-03 20:04] #54 closed

[2018-12-03 20:09] StorytellerCZ commented on #56
This is currently not possible due to how Meteor services are structured. For the non-core packages it could be possible if the package for that provider is written in that style. In essence `link-accounts` is only a middle man.

[2018-12-03 20:15] StorytellerCZ commented on #58
I'll have to look into how wechat works and from that figure out where the issue is. I don't use wechat so I won't get to this any time soon, so if someone else wants to look into this, it will be much appreciated.

[2018-12-03 20:16] #63 closed

[2018-12-03 20:18] StorytellerCZ commented on #37
@JohanTh @delgermurun If you could identify where the issue is in the code a PR would be much appreciated. If there is not an issue, maybe a note in the README to the appropriate package should suffice.

[2018-12-03 20:18] #57 closed

[2019-03-07 18:53] StorytellerCZ opened #80 "Move package under Meteor Community"
Me and @copleykj have started a group for important Meteor packages that are not much maintained lately and I would like to move this package there as I think it is very important and our desire is to at least merge any PRs and where there is an interest help people to actively develop packages.
https://github.com/Meteor-Community-Packages

Could we make this happen @yubozhao ?

[2019-03-07 19:15] yubozhao commented on #80
@StorytellerCZ Yeah man, for sure.  Let me know what I need to do for this process.

[2019-03-07 19:58] StorytellerCZ commented on #80
@yubozhao It seems that there are now multiple efforts underway. I'll wait few days to let the dust settle and then I will reach out to you so that we can get this into what ever the community decides on.

[2019-03-07 20:07] yubozhao commented on #80
Sounds great!  Thank you for continue on keep the community active!  I wish I have another chance to use Meteor again.  It might not the best for everything, but I think for some applications, it still kick ass

[2019-03-09 23:06] StorytellerCZ commented on #80
@yubozhao So the decisions have been made. I send you an invite into the community. You can move the repository there at your leisure. We'll figure the publishing automation soon after that.

[2019-03-11 20:14] yubozhao commented on #80
Awesome.  Thank you @StorytellerCZ

[2019-03-11 20:20] yubozhao commented on #80
@StorytellerCZ  moved

[2019-03-12 12:12] #80 closed

[2019-09-16 03:19] #60 closed

[2019-10-15 10:55] StorytellerCZ commented on #59
@techbos  As for the code it looks as any other, so I don't think the problem is there.

[2019-10-15 11:13] StorytellerCZ commented on #58
I've looked through the code and I don't see where the issue can originate. Did you make any progress on this @zhaoyao91 ? Did you try the newest version?

[2020-02-19 11:17] MastroLindus commented on #58
This is not related to wechat.
I use google and facebook, and when the flow is set to redirect a new user is created instead of adding the information to the logged in user

[2020-02-19 11:53] MastroLindus commented on #58
The code that I am talking about is in accounts-oauth:

[code]

This will call the normal oauth login handler instead of the link

[2020-04-23 00:30] joshleblanc opened #82 "linkWithDiscord error"
Running the following:

[code]
results in the following:

[code]

[2020-04-28 10:20] #82 closed

[2020-04-28 10:34] StorytellerCZ commented on #47
I have only found 5 years old packages. Since there is no current package I'm closing this.

[2020-04-28 10:34] #47 closed

[2020-04-28 10:48] StorytellerCZ commented on #52
Late, but better then never:
Yes, though not in a way you think. You connect to personal accounts. In those connections you would have to get permissions to manage groups/pages/organizations that the user has admin rights on that social network. With connecting the personal account (with the proper permissions) you gain access to the list of organizations and associated actions. Please see the API

[2020-04-28 10:48] #52 closed

[2020-04-28 10:49] #13 closed

[2020-04-28 10:50] #37 closed

[2020-04-28 10:52] StorytellerCZ commented on #82
Please also double check that you have all the proper packages included in your app.

[2020-04-28 10:53] StorytellerCZ commented on #56
We might want to explore this further. For example login from multiple self-hosted WordPress instances is one use case.

[2020-04-28 10:57] StorytellerCZ commented on #16
@kieckhafer Not yet

[2020-04-28 11:20] StorytellerCZ opened #84 "Add Meteor Community Packages to maintainers"
@yubozhao Would you be so kind and add Meteor Community Packages group to maintainers on Atmosphere as described, so that we don't have to bother you about every update?
https://github.com/Meteor-Community-Packages/organization#process-of-adding-a-package

So that should be:
`meteor admin maintainers bozhao:link-accounts --add communitypackages`

[2020-04-28 15:20] yubozhao commented on #84
Done
[code]

[2020-04-28 15:20] #84 closed

[2020-04-28 16:06] yubozhao commented on #84
@StorytellerCZ I also published the latest version `v2.1.1`

[2020-04-29 11:25] StorytellerCZ commented on #84
Awesome! Can you also send me where people can send you donations, right now I implemented mine from the template package (see sponsor button at the top), but those should be yours.

[2020-08-09 12:16] #16 closed

[2020-08-16 08:49] StorytellerCZ commented on #3
This hook will be `Accounts.afterLink` and will be part of the 2.2 release.

[2020-09-02 21:30] #3 closed

[2020-09-02 21:31] StorytellerCZ commented on #49
Scheduling this for v2.3

[2020-12-29 13:34] #49 closed

[2021-01-26 16:08] StorytellerCZ commented on #58
@MastroLindus Thanks a lot for locating the code. I will see what we can do to fix this in core.

[2021-08-23 16:34] uuuJ opened #96 "beforeLink hook does not work as expected"
Hey there 👋,

The beforeLink  hook [doc](https://github.com/Meteor-Community-Packages/meteor-link-accounts#accountsbeforelink) says it should be able to prevent linking depending of what it returns.

Even if I return false, true, or whatever in my hook, the `each` will ignore the result of the callback and `LinkUserFromExternalService ` will continue its execution and allow linking.
See that [bloc

[2021-11-05 22:30] ddaydd opened #98 "wrong uppercase in the word linkedIn"
Hello,

`Cannot read properties of undefined (reading 'requestCredential') at Object.Meteor.linkWithLinkedIn (linkedin.js:29)`

line 29
`Package['pauli:linkedin-oauth'].LinkedIn.requestCredential(options, credentialRequestCompleteCallback)`

but in pauli:linkedin-oauth , it's Linkedin not LinkedIn
`  api.export('Linkedin');`

thank you for correcting

[2021-11-06 01:12] ddaydd opened #99 "eslint-plugin-react doctrine error, babel-eslint package is deprecated"
Hello,

i got this error when i deploy

`Error: chown /var/app/staging/programs/server/npm/node_modules/meteor/bozhao_link-accounts/node_modules/eslint-plugin-react/.node_modules-garbage-1aytbru.g2cd/doctrine: no such file or directory`

when I realized that the babel-eslint package is deprecated, I replaced it with @babel/eslint-parser in your package.json and now it works...

[2021-11-10 09:30] #98 closed

[2021-11-10 09:30] #99 closed

[2021-11-10 09:30] StorytellerCZ commented on #98
Will be released in v. 2.3.3

[2021-11-10 09:31] StorytellerCZ commented on #99
Upgraded all dev dependencies.

[2021-12-11 15:43] StorytellerCZ commented on #96
Hi @uuuJ
Can you please check that #101 fixes the issue for you?

[2022-02-15 15:16] micktaiwan commented on #58
Same issue here with Google (linkWithGoogle) and loginStyle: "redirect" calls
Some progress on this issue ?

[2022-03-25 05:41] thecoolelvin opened #102 "Same Google Account can't be linked with multiple meteor accounts"
When we have linked one google account with Meteor.linkWithGoogle() util function to some meteor user then if i login from another meteor user account and try to login with same google account. then it says

`Provided google account is already in use by other user`

[2022-03-25 07:02] StorytellerCZ commented on #102
This is not a bug, this is the intended behavior. These links are intended for logins, so if you have one Google account linked to 2+ account, how can we determine which account do you actually want to login to.

[2022-03-25 07:02] #102 closed

[2022-03-25 07:10] thecoolelvin commented on #102
@StorytellerCZ  let's say

We have a web application for Marketing Analysis.
and we have two Meteor users from same organisation (1 is from Accounts and 2 is from Admin department)

and we only have one google analytics account at all

So Now what happen if our account person had logged in via google. and with same google account our admin department person can not login because it says the Google

[2022-03-26 01:05] StorytellerCZ commented on #102
Well first of, I think you are using organizations for what ever you are doing on Google. Each individual user then should have their own Google login. If that is the case then this isn't a problem as each person has their own Google login.

But if you create a special Google account that all the users login to access the Google service, then that is still considered in the eyes of the system as i

[2022-03-28 05:35] thecoolelvin commented on #102
Okay @StorytellerCZ
Thanks for explaining Meteor Accounts behaviour.

[2022-07-08 14:39] corentinleo commented on #96
Hi 👋,

I tried the same things as @uuuJ and return false in the Accounts.beforeLink seems to cancel the link but I'm facing another problem :
When I return false I have the following meteor error : "A login handler should return a result or undefined".
So I tried to return undefined but same result.
I would like to know if I miss something or there is a problem with the code ? Thanks 🙏